
.styleLogo{
  height: 6rem;
  margin: 0 10%;
  padding: 10px;
}

.btn-login {
  background-color: #DC7D00;
  color: #fff;
  font-size: 14px;
}

.goToResgistration{
  color: #FFA500;
  font-weight: 500;
  font-size: 1.1rem;
}

@media (max-width: 700px) {
  .card-login {
    padding: 40px 30px;
    margin: 0px 5px;
  }
}